<div class="sidebar">
  <div class="logo"><i class="bi bi-alphabet"></i></div>
  <div class="sidebarContent">
    <div class="firstLinkDiv linkDiv">
      <a class="links" routerLink="home">Home</a>
    </div>
    <div class="linkDiv">
      <a class="links" routerLink="stores">Stores</a>
    </div>
    <div class="linkDiv">
      <a class="links" routerLink="products">Products</a>
    </div>
    <div class="linkDiv">
      <a class="links" routerLink="reviews">Reviews</a>
    </div>
    <div class="linkDiv">
      <a class="links" routerLink="analytics">Analtyitcs</a>
    </div>
    <div class="linkDiv">
      <a class="links" routerLink="chatbot">Chatbot</a>
    </div>
  </div>
</div>
