.card{
  display: flex;
  background-color: #CECCCC;
  width: 300px;
  height: 400px;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  border-color: black;
  border-width: 5px;
  box-shadow: 10px 10px black;
  opacity: 80%;
}

.cardText{
  text-align: center;
  width: 150px;
  font-family: "Noto Sans Display", sans-serif;
  font-optical-sizing: auto;
  font-weight: 462;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
