.storeList {
  display: grid;
  grid-template-columns: repeat(3, 260px);
  gap: 24px;
  row-gap: 30%;
  padding: 4rem;
  justify-content: center;
}

.loadingText {
  color: var(--text-secondary);
  font-size: 16px;
}
